.social{
    stroke:#000;

    stroke: width 5px;
    stroke-linecap:round;
    stroke-linejoin:round ;
}

.socialSVG{
    width:25px;
    height:25px;
    fill:white
}

.socialSVG:hover{
    transition-duration: 200ms ;
    width:35px;
    height:35px;
    margin-bottom: 3rem;

}

div{
    overflow: visible;
}
.you :hover{
    transition-duration: 200ms ;
    fill:rgb(170, 31, 31);


}
.face :hover{
    fill:rgb(77, 152, 202);
    transition-duration: 200ms ;

}
.insta :hover{
    fill:rgb(199, 178, 87);
    transition-duration: 200ms ;

}
path{
    height: 50px;
    width: 50px;
}

.footerRodape {
    position: fixed;
    bottom: 0;
    height: 6vh;
    width: 100vw;
  }
  svg {
    font-size: 15px;
    margin-inline: 10px;

  }
 

  .footer-center {
    display: flex;
    justify-content: center;
    margin-block: 0.7rem;
    overflow: visible;
  }
